In [39]:
#1)
# Load the built-in dataset iris
library(tidyverse)
data(iris)

# Find the dimension of the dataset
dim(iris)  # Output: 150 5

# Check the structure of the dataset
str(iris)  # Output: data frame with 150 observations and 5 variables

# Summary statistics of all features
summary(iris)  # Output: summary statistics for each feature

# Standard deviation of all features
sapply(iris[, 1:4], sd)  # Output: standard deviation for each feature

#2)
# Load the built-in dataset iris
data(iris)

# Split the dataset by Species
iris_split <- split(iris, iris$Species)

# Calculate mean and standard deviation for each group
sapply(iris_split, function(x) {
  group_mean <- sapply(x[, 1:4], mean)
  group_sd <- sapply(x[, 1:4], sd)
  return(cbind(group_mean, group_sd))
})

#3)
# Find quantile values for sepal width
quantile(iris$Sepal.Width)

# Find quantile values for sepal length
quantile(iris$Sepal.Length)


#4)
sepal_quantiles <- quantile(iris$Sepal.Length, probs = seq(0, 1, 0.25))

# Create a new column 'Sepal.Length.Cate' based on quantile categories
iris1 <- iris %>%
  mutate(Sepal.Length.Cate = cut(Sepal.Length, breaks = sepal_quantiles, labels = c("Q1", "Q2", "Q3", "Q4")))

# Print the first few rows of iris1
head(iris1)

#5)
avg_by_groups <- iris1 %>%
  group_by(Species, Sepal.Length.Cate) %>%
  summarize(
    avg_sepal_length = mean(Sepal.Length),
    avg_sepal_width = mean(Sepal.Width),
    avg_petal_length = mean(Petal.Length),
    avg_petal_width = mean(Petal.Width)
  )

print(avg_by_groups)

#6)
avg_mean_by_groups <- iris1 %>%
  group_by(Species, Sepal.Length.Cate) %>%
  summarize(avg_mean = mean(c(Sepal.Length, Sepal.Width, Petal.Length, Petal.Width)))

print(avg_mean_by_groups)

#7)
pivot_table <- iris1 %>%
  group_by(Species, Sepal.Length.Cate) %>%
  summarize(count = n()) %>%
  spread(Sepal.Length.Cate, count, fill = 0)

print(pivot_table)

[1] 150   5

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
   0.8280661    0.4358663    1.7652982    0.7622377

     setosa    versicolor virginica
[1,] 5.0060000 5.9360000  6.5880000
[2,] 3.4280000 2.7700000  2.9740000
[3,] 1.4620000 4.2600000  5.5520000
[4,] 0.2460000 1.3260000  2.0260000
[5,] 0.3524897 0.5161711  0.6358796
[6,] 0.3790644 0.3137983  0.3224966
[7,] 0.1736640 0.4699110  0.5518947
[8,] 0.1053856 0.1977527  0.2746501

  0%  25%  50%  75% 100%
 2.0  2.8  3.0  3.3  4.4

  0%  25%  50%  75% 100%
 4.3  5.1  5.8  6.4  7.9

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Sepal.Length.Cate
1 5.1          3.5         1.4          0.2         setosa  Q1
2 4.9          3.0         1.4          0.2         setosa  Q1
3 4.7          3.2         1.3          0.2         setosa  Q1
4 4.6          3.1         1.5          0.2         setosa  Q1
5 5.0          3.6         1.4          0.2         setosa  Q1
6 5.4          3.9         1.7          0.4         setosa  Q2

`summarise()` has grouped output by 'Species'. You can override using the
`.groups` argument.

# A tibble: 11 × 6
# Groups:   Species [3]
   Species   Sepal.Length.Cate avg_sepal_length avg_sepal_width avg_petal_length
   <fct>     <fct>                        <dbl>           <dbl>            <dbl>
 1 setosa    Q1                            4.85            3.3              1.47
 2 setosa    Q2                            5.44            3.78             1.48
 3 setosa    NA                            4.3             3                1.1
 4 versicol… Q1                            5               2.3              3.28
 5 versicol… Q2                            5.6             2.70             4.06
 6 versicol… Q3                            6.14            2.84             4.51
 7 versicol… Q4                            6.72            3                4.68
 8 virginica Q1                            4.9             2.5              4.5
 9 virginica Q2                            5.74            2.7              5.04
10 virginica Q3                            6.24            2.9              5.28
11 virginica Q4                            7.06            3.10             5.88
# ℹ 1 more variable: avg_petal_width <dbl>

`summarise()` has grouped output by 'Species'. You can override using the
`.groups` argument.

# A tibble: 11 × 3
# Groups:   Species [3]
   Species    Sepal.Length.Cate avg_mean
   <fct>      <fct>                <dbl>
 1 setosa     Q1                    2.47
 2 setosa     Q2                    2.74
 3 setosa     NA                    2.12
 4 versicolor Q1                    2.9
 5 versicolor Q2                    3.4
 6 versicolor Q3                    3.73
 7 versicolor Q4                    3.96
 8 virginica  Q1                    3.4
 9 virginica  Q2                    3.88
10 virginica  Q3                    4.09
11 virginica  Q4                    4.53

`summarise()` has grouped output by 'Species'. You can override using the
`.groups` argument.

# A tibble: 3 × 6
# Groups:   Species [3]
  Species       Q1    Q2    Q3    Q4 `<NA>`
  <fct>      <dbl> <dbl> <dbl> <dbl>  <dbl>
1 setosa        35    14     0     0      1
2 versicolor     4    20    17     9      0
3 virginica      1     5    18    26      0